---
import RecentPost from "../pages/recent-page.astro"; 
import RecentProject from "../pages/recent-project.astro";
---

<div>
  <p>
    <h2 class="text-xl font-bold mb-4">Recent Post</h2>
    <RecentPost />
  </p>
  <p>
    <h2 class="text-xl font-bold mb-4">Recent Project</h2>
    <RecentProject />
  </p>
</div>
