---
import Profile from "./Profile.astro";
---

<section class="mb-8">
  <div class="mb-6">
    <h1 class="font-extrabold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden">
      <span class="bg-gradient-to-br from-[#1a202c] via-[#2d3a4a] to-[#475569] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent">
        Tech Chronicles
      </span>
      <span class="block text-gray-500 text-sm uppercase tracking-wide mt-2">
        Exploring Code, Conquering Challenges, Building Tomorrow
      </span>
    </h1>    
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://github.com/WoojinJeonkr"
      >
        <i class="fa-brands fa-github" aria-hidden="true" title="Github link"></i>
        <span>GitHub</span>
      </a>
    </div>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <Profile />
</section>
