---
import LoadIcon from "./LoadIcon.astro";
---

<div>
  <div class="mb-8">
    <p>
      Hello! This is my tech blog. Explore my projects, read about my coding journey, and discover cool tech stuff!
    </p>
  </div>
  <div class="flex items-center flex-wrap mb-4">
    <p class="mb-2" style="display: flex; flex-wrap: wrap; align-items: center;">Skills:
      <span  style={{ marginLeft: '8px', marginRight: '4px' }} />
      <LoadIcon name="react" />
      <LoadIcon name="Python" />
      <LoadIcon name="Java" />
      <LoadIcon name="JavaScript" />
      <LoadIcon name="TypeScript" />
      <LoadIcon name="C++" />
    </p>
    <p class="mb-2" style="display: flex; flex-wrap: wrap; align-items: center;">Tools:
      <span  style={{ marginLeft: '8px' }} />
      <LoadIcon name="slack" />
      <LoadIcon name="Figma" />
      <LoadIcon name="Git" />
      <LoadIcon name="VS Code" />
      <LoadIcon name="Intellij" />
    </p>
  </div>
</div>