---
const { posts, page } = Astro.props;

let cloud: { [key: string]: number } = {};
posts.forEach((post: { frontmatter: { tag: string[] } }) => {
  post.frontmatter.tag.forEach((tag) => {
    if (!cloud[tag]) cloud[tag] = 0;
    cloud[tag] += 1;
  });
});

let tags: string[] = [];
for (let prop in cloud) {
  tags.push(prop);
}

const filterTag = ['BFE', 'Programmers', 'Hackerrank', 'Baekjoon', 'JSChallenger', 'SQL Practice'];

if (page === "algorithm") {
  tags = filterTag;
} else {
  tags = tags.filter((item) => !filterTag.includes(item));
}

let taglist = tags.sort((a, b) => a.localeCompare(b, undefined, { sensitivity: 'base' }));
---

<div class="tag-container">
  {taglist.map((tag) => (
    <div class="tag-item">
      <a href={`/${page}/${tag}`} class="tag-link">
        {tag === Astro.params.tag ? (
            <div class="tag-selected">
              {tag}
            </div>
          ) : (
            <div class="tag-badge">
              {tag}
            </div>
          )
        }
      </a>
    </div>
  ))}
</div>

