---
const {posts} = Astro.props;
let cloud: { [key: string]: number } = {};
posts.forEach((post: { frontmatter: { tag: string[] }}) => {
  post.frontmatter.tag.forEach((tag) => {
    if (!cloud[tag]) cloud[tag] = 0
    cloud[tag] = 1;
  })
})

let tags: string[] = [];
for (let prop in cloud) {
  tags.push(prop);
}
---

<div style="text-align:center">
  {tags.map(tag => (
    <a href={`/blog/tag-post/${tag}`}>
      <span class="badge box me-2 mb-2" style={`font-size:${cloud[tag]*2+12}px;`}>
        {tag}
      </span>
    </a>
  ))}
</div>